body {
    font-family: 'Raleway', sans-serif;
}

a.navbar-title {
    color: #FF5600 !important;
}

.dp-img-div {
    background-image: url("../images/picture.jpg");
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
    border: 2px solid grey;
    border-radius: 50px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.5);
}

.lift-top-div {
    position: relative;
    top: -100px;
    bottom: 0px;
}

.font-name {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.8em;
}

.img-center {
    margin: 0 auto;
}

.x-pad-top {
    padding-top: 2%;
}

.x-pad-btm {
    padding-bottom: 2%;
}

.hr {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #FF5600;
    line-height: 0;
    margin-top: -7%;
    margin-bottom: 3%;
}

.section-header-text {
    padding-left: 1%;
    padding-right: 1%;
    font-weight: 600;
    font-size: medium;
}

.bg-gray {
    background-color: #EEE;
}

@media (max-width: 768px) {
    #aboutme-div {
        padding: 0.8em;
    }

    .col-sm-6{
        padding-top: 1em;
    }
}

.blank-div {
    height: 11em;
}

#projects {
    padding-top: 5.5em;
}

.section-header-orange {
    border-top: 1px solid #FF5600;
}

#projects-title {
    position: relative;
    bottom: 0.7em;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #FFF;
    color: #555;
}

#projects-info-div {
    top: 1em;
}

.dl-horizontal dt {
    white-space: normal !important;
}

#projects-info-div {
    padding-top: 1.1em;
}


.v-center {
    position: relative;
    top: 50%;
    transform: translateY(30%);
}

.github-link-icon {
    font-size: 2em;
    color: #444;
}

.github-link-icon-sm {
    color: #444;
    font-size: 1.5em;
}

#contact-title {
    position: relative;
    bottom: 0.7em;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #FFF;
    color: #555;
}

#contact {
    padding-top: 5.5em;
}

blockquote {
    font-size: 14px;
    line-height: 1.5;
}

blockquote > footer {
    font-size: 95%;
}

#footer_content {
    margin-top: 5%;
    background-color: #EEE;
    padding-top: 3%;
    padding-bottom: 3%;
    color: #888;
    font-size: 90%;
    border-top: 1px solid #e7e7e7;
}

#footer_content > p > a {
    color: #888;
}

.dot-span {
    position: relative;
    bottom: 0.2em;
}

#contact-means > ul > li {
    padding-left: 2%;
    padding-right: 2%
}

.contact-link {
    color: #666;
}

.big-dot {
    font-size: 1.2em;
    font-weight: bold;
}